[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
bumpversion = {version = "*", markers="python_version >= '3.6'"}
twine = "*"
template = {editable = true,path = "."}

[scripts]
lint = "pre-commit run --all-files"
build = "python setup.py bdist_wheel"
clean = "git clean -fdX"
upload = "sh -c 'twine upload -s dist/*'"
bats = "bats -t tests/"
check = "sh -c 'rm -rf dist/ && python setup.py bdist_wheel && twine check dist/*'"
doctest = "sh -c 'python -m doctest template/*.py'"
